<!-- index.html -->
<!-- home.html -->

{% extends "homeapp/header.html" %}



{% block content_title %}

    delcygnus.com

{% endblock %}




{% block content %}

{% include "homeapp/includes/separator_inc.html" %}
<p>
    <br>If you're interested in news or talk about the
    <strong>Rockyt Skull™</strong>
    game, the best place to go will be
    <a href="https://delcygnus.livejournal.com/">my Live Journal</a>.
</p><br>
<p>
    The rest of this site is my testbed for experimenting with
    web design and development and for displaying some of my art work.
    I also administer the server. I'm support@delcygnus.com
</p>
<p>
    <br>The site is not very big, but you can look around.
    <br><br>~Neil~
</p>
{% include "homeapp/includes/separator_inc.html" %}

{% endblock %}

