<!-- cygsite_nav_inc.html -->
{% block navlist %}
                        <li><a href='/' >Home</a></li>
                        <li><a href='/art---01' >Art I</a></li>
                        <li><a href='/art---02' >Art II</a></li>
                        <li><a href='/art---03' >Art III</a></li>
                        <li><a href='/art---04' >Art IV</a></li>
                        <li><a href='/art---05' >Art V</a></li>
                        <li><a href='/notes/' >Notes</a></li>
{% endblock %}