<!DOCTYPE.html>
<!-- artapp artheader.html -->
<html lang="en">

<head>
    <title>delcygnus</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel='stylesheet' href="{% static 'artapp/css/bootstrap.min.css' %}" type='text/css' />
    <meta name='viewport' content = "width=device-width, initial-state=1.0" />
	<style type="text/css" >
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#E6D6C6; color:#000000"
        {% block background %}
        {% endblock %}
        >
    <div class="container-fluid" style="min-height:95%; "> <!-- page content -->
        <div class="row">
            <div class="col-sm-2" style="background-color:#B0C0E0">
                <center>
                <img src="{% static 'artapp/img/delcygnus_icon_120x120.png' %}"
                    title="delcygnus" >
                </center>
            </div> <!-- col-sm-2 -->
            <div class="col-sm-10" style="background-color:#A0E0A0" > <!-- title block -->
                <center>
                <h3>
                {% block title %}
                {% endblock %}
                </h3>
                </center>
                <br>
            </div> <!-- title block -->
        </div> <!-- first row -->

        <div class="row"> <!-- second row -->
            <div class="col-sm-2" style="background-color:#B0C0E0" >
                <br><br>
                <div class="well bs-sidebar" id="sidebar">
                    <ul class="nav nav-pills nav-stacked">
                        {% include "cygsite_nav_inc.html" %}
                    </ul>
                </div> <!-- sidebar -->
                <br>
            </div> <!-- col-sm-2 -->
            <div class="col-sm-10"> <!-- art display -->
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div> <!-- col-sm-10 -->
        </div> <!-- second row -->

    </div> <!-- page content -->

    <footer>
        <div class="container-fluid" style='margin-left:24px'>
            <h4>
            using Blender - Gimp - photography
            </h4>
        </div>
    </footer>
</body>

</html>
