<!-- statementapp.html -->

{% extends "statementapp/header.html" %}



{% block content_title %}

    Privacy Statement

{% endblock %}




{% block content %}


<p>
<br>
12/20/2017
<br><br>

In this statement, Delcygnus LLC will be referred to as Delcygnus, Rockyt Skull™ will be referred to as the Game, Amazon Inc. will be referred to as Amazon, and an Amazon Fire tablet will be referred to as a Fire. Also, any device which can run the Game will be included as a Fire.
<br><br>

Delcygnus does not collect your name, email address, credit card number nor phone number. In the course of an Amazon transaction, it will receive your Amazon User ID. Your User ID is not your email address nor your account name. It is a computer-generated value which looks similar to this:
<br><br>

UserID = l3HL7XppEMhrOGDnur9-ulvqomrSg6qyODKmah76lJU=
<br><br>

The User ID acts to uniquely identify you while providing some anonymity. It cannot be used to sign into your account. The presence or absence of an Amazon User ID is used by the Game to determine whether an user is signed-in to their Amazon account or not.
<br><br>

Amazon handles all the billing actions. Amazon returns a receipt from each purchase. The receipt does not include the purchaser's name nor credit card number.
<br><br>

The Game does store transaction receipts with your User ID on the Fire, but they are currently not sent anywhere and are saved as an archive. They might be used in the future. The archived receipts will be deleted if the Game is removed.

</p>


{% endblock %}

